{% macro input(name, value, type) %}
    <style>.required {color: red;}</style>
    <label for="{{ name }}">{{ name|title }}<span class="required">*</span></label>
    <input type="{{ type|default('text') }}" id="{{ name }}" name="{{ name }}" value="{{ value|e }}"><br>
{% endmacro %}

{% macro textarea(name, value, rows = 5, help) %}
    <style>.required {color: red;}</style>
    <label for="{{ name }}">{{ name|title }}<span class="required">*</span></label>
    <textarea rows="{{ rows }}" id="{{ name }}" name="{{ name }}">{{ value|e }}</textarea>
{% endmacro %}