{% extends 'layout.twig' %}

{% block title %}New{% endblock %}

{% block body %}
    <style>
        form select, .select2-container {
            border: 2px solid #e1e1e1;
            font-size: 18px;
            line-height: 1.8em;
            margin-bottom: 20px;
            border-radius: 4px;
        }
        form select:focus, .select2-container:focus {
            outline: 0;
            border-color: #b1b1b1;
        }
        form select:hover, .select2-container:hover {
            border-color: #b1b1b1;
        }
        .select2-container .selection .select2-selection {
            border: none;
        }
        .select2-container .select2-container--default .select2-container--open {
            border: none;
        }
    </style>
    <section>
        <div class="content">
            <div class="new-entry">
                <h2>Publish New Post</h2>
                {% if error is defined %}
                    <div class="alert alert-danger">ERROR!: {{ error }}</div>
                {% endif %}
                <form method="POST" action="/posts/new">
                    {% import 'form.twig' as form %}
                    {{ form.input('title', save.title) }}
                    {{ form.textarea('body', save.body ) }}
                    <label for="tags">Tags</label>
                    <select id="tags" name="tags[]" class="form-control" style="width:calc(100% - 32px)" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag }}" {% if tag in save.tags %}selected{% endif %}>{{ tag }}</option>
                        {% endfor %}
                    </select>
                    <script>
                        $(document).ready(function() {
                            $('#tags').select2({
                                tags: true,
                                placeholder: 'Type out tags then hit enter after each one OR Select from dropdown'
                            });
                        });
                    </script>
                    <input style="margin-top:3em" type="submit" value="Publish Post" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                    {% for key, value in csrf %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}