{% extends 'layout.twig' %}

{% block title %}New{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Publish New Post</h2>
                <form method="POST" action="{{ addPost }}">
                    {% import 'form.twig' as form %}
                    {{ form.input('title', post.title) }}
                    {{ form.textarea('body', post.body ) }}
                    <input type="submit" value="Publish Post" class="button">
                    <a href="/" class="button button-secondary">Cancel</a>
                    {% for key, value in csrf %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endfor %}
                </form>
                {{ dump(csrf) }}
            </div>
        </div>
    </section>
{% endblock %}