{% extends 'layout.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
<section>
    <div class="content">
        <h1 style="text-align:center; padding-top:1em;">{{ name|title }}</h1>
        <div class="entry-list">
            {% for post in posts %}
            <article>
                <h2><a href="/posts/{{ post.id }}/{{ post.title|lower|replace({' ':'-'}) }}">{{ post.title|title }}</a></h2>
                <time datetime="{{ post.date }}">{{ post.date|date('F d, Y \\a\\t  g:i a') }}</time>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}